[tool.poetry]
name = "ontoweaver"
version = "0.1.0"
description = "Exports from tables to Semantic Knowledge Graphs, with a simple declarative mapping."
authors = ["Johann Dreo <johann.dro@pasteur.fr>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.13"
biocypher = "^0.5.44"
pooch = "^1.7.0" # Dep of biocypher
pandas = "^2.0.1"
numpy = "^1.26.3"
owlready2 = "^0.46"

[tool.poetry.dev-dependencies]
pytest = "^8.3.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
addopts = [
    "--import-mode=importlib",
]
pythonpath = "src"
testpaths = [
    "tests",
]

