[tool.poetry]
name = "ontoweaver"
version = "0.1.0"
description = "Exports from tables to Semantic Knowledge Graphs, with a simple declarative mapping."
authors = ["Johann Dreo <johann.dro@pasteur.fr>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.13"
biocypher = "^0.6.1"
pooch = "^1.7.0" # Dep of biocypher
pandas = "^2.0.1"
numpy = "^2.1.3"
owlready2 = "^0.47"
jsonargparse = "^4.35"
xdg-base-dirs = "^6.0.2"
pandera = { version = "^0.22.1", extras = ["io"] }

[tool.poetry.dev-dependencies]
pytest = "^8.3.4"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
addopts = [
    "--import-mode=importlib",
]
pythonpath = "src"
testpaths = [
    "tests",
]
